<form action="" method="POST" class="form-signin">
    {{!-- Alertas --}}
    {{>messages}}
    <div class="mb-4 text-center">
        <h1>Iniciar sesion en Taskily</h1>
        <p>Bienvenido al mejor gestor de proyectos</p>
    </div>
    <div class="form-label-group">
        <label for="email">Correo elctronico</label>
        <input type="email" name="email" id="email" placeholder="jconor@sky.net" required>
    </div>
    <div class="form-label-group">
        <label for="password">Contrasena</label>
        <input type="password" name="password" id="password" placeholder="contraseña" required>
    </div>    
    <div class="mb3">
        <button class="btn btn-lg btn-primary btn-block">Iniciar sesion</button>
        <p class="text-center text-muted nt-5">2020 Negocios web-UNICAH</p>    
    </div>
</form>