<form action="/registrate" class="" method="POST">
    <div class="nb-4 text-center">
        <h1>Registrate en Taskily</h1>
        <p>Y comienza a utilizar nuestro aclamado gestor de proyectos</p>
    </div>
    <div class="container ">
    <div class="form-group mx-auto" style="width:320px">
        <input type="text" name="fullname" id="fullname" placeholder="John Connor" required autofocus>
        <label for="fullname">Nombre completo</label>
    </div>
    <div class="form-group mx-auto" style="width:320px">
        <input type="email" name="email" id="email" placeholder="johnconnor@sky.com" required>
        <label for="email">Correo electronico</label>
    </div>
    <div class="form-group mx-auto" style="width:320px">
        <input type="password" name="password" id="password" required>
        <label for="password">Contraseña</label>
    </div>

    <div class="mx-auto" style="width:250px">
        <button class="btn btn-lg btn-primary" width="2em" type="submit">Registrarse</button></div>
        <div class="mb3">
        <p class="text-center text-muted nt-5">2020 Negocios web-UNICAH</p>
    </div>
</form>